#priceFilter {
  margin: 10px auto;
  padding: 10px 20px;

  .rc-slider {
    margin: 15px auto;
  }

  .rc-slider-track {
    background-color: $tertiary;
  }

  .rc-slider-handle {
    border-color: $tertiary;
  }

  i.fa-gbp {margin-right: 2px}
}